@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
.container {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto; }
  .container svg {
    width: 60rem;
    height: 50vh;
    stroke-width: 4;
    align-content: center; }
    .container svg tspan > tspan {
      stroke-dasharray: 1500;
      stroke-dashoffset: -1500; }
      .container svg tspan > tspan:nth-of-type(1) {
        animation: draw 300ms 150ms forwards; }
      .container svg tspan > tspan:nth-of-type(2) {
        animation: draw 300ms 300ms forwards; }
      .container svg tspan > tspan:nth-of-type(3) {
        animation: draw 300ms 450ms forwards; }
      .container svg tspan > tspan:nth-of-type(4) {
        animation: draw 300ms 600ms forwards; }
      .container svg tspan > tspan:nth-of-type(5) {
        animation: draw 300ms 750ms forwards; }
      .container svg tspan > tspan:nth-of-type(6) {
        animation: draw 300ms 900ms forwards; }
      .container svg tspan > tspan:nth-of-type(7) {
        animation: draw 300ms 1050ms forwards; }
      .container svg tspan > tspan:nth-of-type(8) {
        animation: draw 300ms 1200ms forwards; }
      .container svg tspan > tspan:nth-of-type(9) {
        animation: draw 300ms 1350ms forwards; }
      .container svg tspan > tspan:nth-of-type(10) {
        animation: draw 300ms 1500ms forwards; }
      .container svg tspan > tspan:nth-of-type(11) {
        animation: draw 300ms 1650ms forwards; }
      .container svg tspan > tspan:nth-of-type(12) {
        animation: draw 300ms 1800ms forwards; }
      .container svg tspan > tspan:nth-of-type(13) {
        animation: draw 300ms 1950ms forwards; }
      .container svg tspan > tspan:nth-of-type(14) {
        animation: draw 300ms 2100ms forwards; }
      .container svg tspan > tspan:nth-of-type(15) {
        animation: draw 300ms 2250ms forwards; }
      .container svg tspan > tspan:nth-of-type(16) {
        animation: draw 300ms 2400ms forwards; }

.Lever-pull {
  width: 100px;
  height: 200px;
  transform: rotate(90deg);
  animation: Lever-pull-bend infinite 2s; }

.Lever-wall {
  width: 30px;
  height: 100px;
  transform: translateX(-80px) rotate(90deg); }

.next-appear {
  opacity: 0.01; }

.next-appear.next-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in; }

.myName {
  color: #645F5A;
  font-family: 'Luckiest Guy', cursive;
  stroke: white;
  font-size: 100px; }

@keyframes draw {
  100% {
    stroke-dashoffset: 0; } }

@-webkit-keyframes Lever-pull-bend {
  0% {
    -webkit-transform: translateX(0%) rotate(-270deg); }
  15% {
    -webkit-transform: translateX(-3%) rotate(-275deg); }
  30% {
    -webkit-transform: translateX(3%) rotate(-267deg); }
  45% {
    -webkit-transform: translateX(-3%) rotate(-273deg); }
  60% {
    -webkit-transform: translateX(3%) rotate(-266deg); }
  75% {
    -webkit-transform: translateX(-3%) rotate(-275deg); }
  100% {
    -webkit-transform: translateX(0%) rotate(-270deg); } }

@-moz-keyframes Lever-pull-bend {
  0% {
    -moz-transform: translateX(0%) rotate(-270deg); }
  15% {
    -moz-transform: translateX(-3%) rotate(-275deg); }
  30% {
    -moz-transform: translateX(3%) rotate(-267deg); }
  45% {
    -moz-transform: translateX(-3%) rotate(-273deg); }
  60% {
    -moz-transform: translateX(5%) rotate(-266deg); }
  75% {
    -moz-transform: translateX(-3%) rotate(-275deg); }
  100% {
    -moz-transform: translateX(0%) rotate(-270deg); } }
