@import url('https://fonts.googleapis.com/css?family=Dosis');

.text {
	transform: translateX(-5%) translateY(-50%);
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.text li {
	display: inline-block;
	font-weight: 700;
	font-size: 5em;
	color: #c19350;
	opacity: 1;
	transition: all 3s ease-in-out;
	max-width: 2em;
	font-family: 'Dosis', sans-serif;
}
.text.hidden li.spaced {
	padding-left: 0;
}
.text li.spaced {
	padding-left: 0.2em;
}

.text.hidden li.ghost {
	opacity: 0;
	max-width: 0;
}

