@import url('https://fonts.googleapis.com/css?family=Dosis');

.text {
	transform: translateX(-5%);
	overflow-x: hidden;
	float: right;
	justify-content: center;
	align-items: center;
}

.text li {
	display: inline-block;
	font-weight: 600;
	font-size: 5em;
	color: #c19350;
	opacity: 1;
	transition: all 3s ease-in-out;
	max-width: 2em;
	word-break: keep-all;
	font-family: 'Dosis', sans-serif;
}
.text.hidden li.spaced {
	padding-left: 0;
}
.text li.spaced {
	padding-left: 0.2em;
}

.text.hidden li.ghost {
	opacity: 0;
	max-width: 0;
}

